<div class="row">
	<div class="col-md-3">
		<input type="text" class="form-control" [(ngModel)]="branch.name">
	</div>
	<div class="col-md-3">
		<input type="text" class="form-control" [(ngModel)]="branch.type" >
	</div>
	<div class="col-md-3">
		<input type="text" class="form-control" [(ngModel)]="branch.pincode">
	</div>
	<div class="col-md-3">
		<input type="button" class="btn btn-primary" (click)="addBranch()" value="Add Branch">
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Branch Name</th>
					<th>Branch Type</th>
					<th>Branch Pincode</th>
					<th>Edit Branch</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="#branch_row of branches; #i = index">
					<td>{{ i + 1 }}</td>
					<td>{{ branch_row.name }}</td>
					<td>{{ branch_row.type }}</td>
					<td>{{ branch_row.pincode }}</td>
					<td>
						<button (click)="editBranch(i)" type="button" class="btn btn-default">button</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>